html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,.33),rgba(0,0,0,.33)),url(/public/images/dark-background.jpg) no-repeat 100%;
}

@tailwind base;
@tailwind components;

.active {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

.badge-blue {
    @apply bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800;
}

.blue-3d-button {
    @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded outline-none;
}

.gray-3d-button {
    @apply bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded outline-none;
}

.red-3d-button {
    @apply bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded outline-none;
}

.input-field {
    @apply h-10 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:outline-cyan-500;
}

.select-field {
    @apply mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:outline-cyan-500;
}

.index-container {
    @apply flex flex-col justify-center items-center max-w-7xl h-full text-white mx-auto;
}

.table-container {
    @apply w-full border-red-500/50 rounded-lg shadow-2xl mb-12 p-2 lg:p-8;
}

.table-body {
    @apply text-gray-600 font-bold text-center w-full;
}

form input, form select {
    box-sizing: border-box;
    padding-left: 10px;
}

form input::placeholder {
    padding: 10px;
}

.h-10 {
    height: 2.5rem;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
    max-height: 70vh;
}

.table-mobile {
    overflow-x: auto;
    display: block;
}

@responsive {
    .w-45 {
        width: 45% !important;
    }
}

@tailwind utilities;
